<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    Posts
  </h2>
  
</div>
<div class="container">
  <div class="row">
    <ul class="list-group col-sm-7">
      <app-post-list-component *ngFor="let post of posts" [postTitle]="post.titre" [postContent]="post.contenu">
        
      </app-post-list-component>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
