<li [ngClass]="{'list-group-item': true,
				'list-group-item-success': postLikes>postDislikes,
				'list-group-item-danger': postLikes<postDislikes}">
	<div class="row">
		<h3 class="col-sm-8">{{ postTitle }}</h3>
		<i class="pull-right col-sm-4">{{ creationDate | date:"dd/MM/yy, hh:mm a" }}</i>
	</div>
	<p>{{ postContent }}</p>
	<div class="row">
		<button class="btn btn-success" (click)="upLike()">Love it!</button>
		<button class="btn btn-danger" (click)="upDislike()">Don't love it!</button>
	</div>
</li>